<table class="table table-dark table-hover table-striped mt-4">
    <thead>
        <tr>
            <th scope="col">Id No</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Date</th>
            <th scope="col">Project</th>
            <th scope="col">Task</th>
            <th scope="col">Hours Spend</th>
            <th scope="col">Status</th>
            <th scope="col">Comments</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Employee 1</td>
            <td>06/30/2022</td>
            <td>Connect-360</td>
            <td>Angular</td>
            <td>5</td>
            <td>Hold-On</td>
            <td>Still Working on it!</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th scope="row">2</th>
            <td>Employee 2</td>
            <td>06/30/2022</td>
            <td>Connect-360</td>
            <td>Angular</td>
            <td>5</td>
            <td>Hold-On</td>
            <td>Still Working on it!</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th scope="row">3</th>
            <td>Employee 3</td>
            <td>06/30/2022</td>
            <td>Connect-360</td>
            <td>Angular</td>
            <td>5</td>
            <td>Hold-On</td>
            <td>Still Working on it!</td>
        </tr>
    <tbody>
        <tr>
            <th scope="row">4</th>
            <td>Employee 4</td>
            <td>06/30/2022</td>
            <td>Connect-360</td>
            <td>Angular</td>
            <td>5</td>
            <td>Hold-On</td>
            <td>Still Working on it!</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <th scope="row">5</th>
            <td>Employee 5</td>
            <td>06/30/2022</td>
            <td>Connect-360</td>
            <td>Angular</td>
            <td>5</td>
            <td>Hold-On</td>
            <td>Still Working on it!</td>
        </tr>
    </tbody>
</table>
